!!!
%html
  %head
    %title
      = @title || 'Alison'
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      #page
        .banner
        = render :partial => 'layouts/navbar'
        #main
          = yield
        #footer
          &copy; ABC Consulting
          = Time.now.year
        = render :partial => 'layouts/dump' if false
